# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Uu]ser[Ss]ettings/
[Aa]rtifacts/
.hpc/


# IDE
.vs/
.idea/
.vscode/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.suo
*.booproj


# Unity Cache/Auto
/[Aa]ssets/AssetStore-*/
/[Aa]ssets/Plugins/Editor/JetBrains*/*


# OS
.DS_Store
Thumbs.db


# Builds/Exports
*.apk
*.aab
*.ipa
*.exe
*.app
*.xcodeproj
*.xcworkspace